user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log warn;

daemon off;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;

    keepalive_timeout  65;

	server {
		listen 80;

		location / {
			root /www;
		}

		location /hls {
			    types {
                    application/vnd.apple.mpegurl m3u8;
			    }

			    root /tmp;
			    add_header Cache-Control no-cache;
		}

        location /p/ {
            secure_link_secret "${PUBLISH_SECRET}";

            if ($secure_link = "") {
                return 403;
            }

            rewrite ^ /secure/$secure_link;
        }

        location /secure/stat {
            internal;
            rtmp_stat all;
        }

        location /secure/info {
            internal;
            rtmp_stat all;
            rtmp_stat_stylesheet /info.xsl;
        }

        location /info.xsl {
            root /www;
        }

    }

}

rtmp_auto_push on;

rtmp {

    server {
        listen 1935;
        notify_method get;

        chunk_size 131072;
        max_message 12M;
        buflen 2s;

        application pub_${PUBLISH_SECRET} {
            live on;
            drop_idle_publisher 5s;
            allow play 127.0.0.1;
            deny play all;

            exec_push /usr/local/bin/avconv -i rtmp://localhost/pub_${PUBLISH_SECRET}/$name
                -filter:v scale=-1:460
                -c:a libfdk_aac -b:a 32k  -c:v libx264 -b:v 128k  -f flv rtmp://localhost/hls/$name_128
                -c:a libfdk_aac -b:a 128k -c:v libx264 -b:v 512k  -f flv rtmp://localhost/hls/$name_512;
        }

        application player {
            live on;

            allow publish 127.0.0.1;
            deny publish all;

            pull rtmp://localhost/pub_${PUBLISH_SECRET} live=1;

            wait_key on;
            wait_video on;
        }

        application hls {
            live on;
            allow publish 127.0.0.1;
            deny publish all;

            hls on;
            hls_path /tmp/hls;
            hls_fragment 15s;
            hls_nested on;

            hls_variant _128   BANDWIDTH=160000;
            hls_variant _512   BANDWIDTH=640000;
        }

    }
}
